<!-- <div class="hero--section"> -->
    <hero class="hero-section">
        <div class="hero-text">
            
            <h1>
                <%= blog.title %>
            </h1>
            <h2>
                Dive into the latest data-backed business trends, research insights, and industry analyses to help you
                build better. For more, click the button below to subscribe to our free weekly newsletter.
            </h2>
        </div>
        <div class="hero-icon">   
        </div>
        <!-- <div class="blogbook-image">
            <img src="/img/blogbook.jpeg" alt="blogbook image">
        </div> -->
    </hero>
<!-- </div> -->