<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
        <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <%- include('nav');%>
        <div class="profile-container">
            <div class="profile">

                <form id="profileForm" action="/updateUser" method="post">
                    <label for="profileName">Name</label>
                    <input id="profileName" type="text" placeholder="<%= userName || 'Name'%>" name="userName" required>
                    <label for="profileEmail">Emale</label>
                    <input id="profileEmail" type="email" placeholder="<%= useremail || 'Email' %>" name="userEmail"
                        required>
                    <label for="profileImage">Image</label>

                    
                    <div class="file-input-container">
                        <div class="file-input-button">Choose File</div>
                        <input id="profileImage" type="file" class="file-input" placeholder="Image" name="image">
                        
                      </div>


                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>





        <script>
            document.querySelector('.file-input').addEventListener('change', function () {
                const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
                document.querySelector('.file-input-button').textContent = fileName;
            });
        </script>

</body>

</html>