*{
    margin: 0;
    padding: 0;
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 70%;
    background-color: aquamarine;
}
#profileForm{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#profileForm input{
    height: 30px;
}
#profileForm label{
    font-size: 20px;
}
#profileForm {
    font-size: 20px;
}