* {
    margin: 0;
    padding: 0;
}

:root {
    --blue-color: #74c0fc;
}

/* <a> style */
.a-link {
    text-decoration: none;
    color:var(--blue-color) ;
    transition: color 0.3s ease;
}
a {
    text-decoration: none;
    color:#fff;
    transition: color 0.3s ease;
}


body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container {
    position: relative;
    /* background-color: black; */
    height: 99vh;
    width: 99vw;
}
.signup-container {
    position: absolute;
    background-color: #ffff;
    z-index: 4;
}
.login-container {
    position: absolute;
    background-color: #ffff;
    z-index: 3;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    /* background-color: #74c0fc; */
    text-align: center;
}
/*.signup-body{} */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40vw;
}
.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* .signup-form {} */

.button--rel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 30vw;
}

.button-rel {
    display: flex;
    align-items: center;
    background-color: var(--blue-color);
    overflow: hidden;
    margin: 10px;
    height: 60px;
    border-radius: 5px;
}
.button-rel a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-end;
    height: 4vh;
    padding: 5px;
}

.icon {
    background-color: #ffff;
    padding: 6px;
    border-radius: 5px;
}
.icon-text {
    padding-left: 20px;
    
}
/* .container {
    width: 300px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
  } */

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    /* border-radius: 3px; */
    margin: 10px 0 10px 0;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-bottom: 1px solid var(--blue-color);
    /* border-top: hidden;
    border-left: hidden;
    border-right: hidden; */

}


input[type="submit"] {
    width: 30%;
    height: 40px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
input[type="submit"]:hover {
    background-color: var(--blue-color);
}
h2 {
    text-align: center;
}


/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .form {
        width: 80vw;
    }
    
    .button--rel {
        width: 60vw;
    }
}

@media only screen and (max-width: 480px) {
    .form {
        width: 90vw;
    }
    
    .button--rel {
        width: 80vw;
    }
}