<div id="footer-main" class="footer-main">
            <section class="footer-section">
                <ul>
                    <li>
                        <h3>Help</h3>
                    </li>
                    <li><a href="#" target="_blank" class="footer-link">Help Center</a></li>
                    <li><a href="#" target="_blank" class="footer-link">Help Forum</a></li>
                    <li><a href="#" target="_blank" class="footer-link">Video Tutorials</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Community</h3>
                    </li>
                    <li><a href="#" target="_blank" class="footer-link"> Blogger Buzz</a></li>
                </ul>
                <ul>
                    <li>
                        <h3>Developers</h3>
                    </li>
                    <li><a href="#" target="_blank" class="footer-link">Blogger API</a></li>
                    <li><a href="#" target="_blank" class="footer-link">Developer Forum</a></li>
                </ul>
            </section>
            <div class="hr-tag">
                <hr />
            </div>
            <section class="footer-meta">
                <!-- create all footer routes -->
                <ul>
                    <li><a href="#" target="_blank" class="footer-link">Terms of Service</a></li>
                    <hr />
                    <li><a href="#" target="_blank" class="footer-link">Privacy</a></li>
                    <hr />
                    <li><a href="#" target="_blank" class="footer-link">Content Policy</a></li>
                    <hr/>
                </ul>
                <div class="footer-author">
                    <P>Mithlesh@gmail.com</P>
                </div>
            </section>
        </div>