<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="css/signin.css" rel="stylesheet">
    
</head>

<body>
    <div class="main-container">

        <!-- signup ejs -->
        <%- include('signup');%>

        <!-- login ejs -->
        <%- include('login');%>


    </div>
    <script src="./js/registration.js"></script>
</body>

</html>